body{
	background: #F8F8F8;
	border-top: 6px solid #A3CF35;
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, address, strong, em, b, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

p{
	text-align: justify;
}

a{
	color: #0087E2;
	text-decoration: none;
}


/* BEGIN OF COMMON STYLES */

div.section{
	border-bottom: 1px solid #EFEFEF;
	margin-top: 20px;
}

img.title-content{
	margin-bottom: 10px;
}

/* END OF COMMON STYLES */

/* BEGIN OF HEADER */
	div.header{
		border-bottom: 1px solid #EFEFEF;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	
	div.navbar{
		margin-top: 25px;
	}
	
	ul.menu{
		text-align: right;
	}
	
	ul.menu li{
		display: inline;
		margin-left: 12px;
	}
/* END OF HEADER */

/* BEGIN OF ABOUT */
	div.about-content{
		float: left;
		margin-left: 10px;
	}
	/* BEGIN OF PROFILE */
		div.profile{
			background: #EFEFEF;
		}

		div.profile-content{
			float: left;
			margin: 20px;
			width: 190px;
		}

		div.profile-image{
			background: #888888;
			height: 250px;
			overflow-y: hidden;
			width: 100%;
		}

		div.profile-info{
			float: left;
			margin-top: 20px;
		}

		div.profile-info img{
			margin-bottom: 10px;
		}

		div.profile-info ul li{
			margin-bottom: 5px;
		}

		div.profile-info .subtitle{
			font-weight: bold;
		}
	/* END OF PROFILE */
/* END OF ABOUT */

/* BEGIN OF MY TOOL BOX */
	ul.toolbox{
		text-align: center;
		margin: 20px auto;
	}
	
	ul.toolbox li{
		display: inline;
		margin: 10px;
	}
/* END OF MY TOOL BOX */


/* BEGIN OF PORTAFOLIO */
	div.work-preview{
		float: left;
		margin: 10px 20px 20px 20px;
		-moz-box-shadow: 5px 5px 5px #888; 
		-webkit-box-shadow: 10px 10px 5px #888; 
		padding: 5px 5px 5px 15px;
		width: 410px;
	}
/* END OF MY PORTAFOLIO */