<div class="container section">
	<img src="/static/images/mytoolbox-title.png" alt="HJOSEPH My Toolbox title"/>
	<ul class="toolbox">
		<li><img src="/static/images/toolbox-logos/python.png" alt="Python Logo"></li>
		<li><img src="/static/images/toolbox-logos/java.png" alt="Java Logo"></li>
		<li><img src="/static/images/toolbox-logos/php.png" alt="PHP Logo"></li>
		<li><img src="/static/images/toolbox-logos/django.png" alt="Django Framework Logo"></li>
		<li><img src="/static/images/toolbox-logos/appengine.png" alt="Google App Engine Logo"></li>
		<!-- <li><img src="/static/images/toolbox-logos/spring.png" alt="Spring Source Logo"></li> -->
		
		<li><img src="/static/images/toolbox-logos/hibernate.png" alt="Hibernate Source Logo"></li>
		<li><img src="/static/images/toolbox-logos/ios.png" alt="IOS Logo"></li>
		<li><img src="/static/images/toolbox-logos/mysql.png" alt="MySQL Logo"></li>
		<li><img src="/static/images/toolbox-logos/postgresql.png" alt="PostgreeSQL Logo"></li>
		<li><img src="/static/images/toolbox-logos/jQuery.png" alt="jQuery Logo"></li>
		<li><img src="/static/images/toolbox-logos/prototype.png" alt="Prototype Logo"></li>
		<br/>
		<li><img src="/static/images/toolbox-logos/scriptaculous.png" alt="Scriptaculous Logo"></li>
		<li><img src="/static/images/toolbox-logos/blueprintcss.png" alt="BlueprintCSS Logo"></li>
	</ul>
</div>