<div class="container section">
	<img src="/static/images/portafolio-title.png" alt="HJOSEPH Portafolio Title" class="title-content" />
	
	<div class="span-24 portafolio-content">
		<div class="work-preview"><a href=""><img src="/static/images/portafolio-previews/kentriki.jpg" alt="HJOSEPH Kentriki.com"/></a></div>
		<div class="work-preview last"><a href=""><img src="/static/images/portafolio-previews/american-consult.jpg" alt="HJOSEPH American-Consult.com"/></a></div>
		<div class="work-preview"><a href=""><img src="/static/images/portafolio-previews/uepestalozzi.jpg" alt="HJOSEPH UEPestalozzi.com"/></a></div>
		<div class="work-preview last"><a href=""><img src="/static/images/portafolio-previews/adalivenezuela.jpg" alt="HJOSEPH Adalivenezuela.com"/></a></div>
	</div>
</div>