<div class="span-6 profile">
	<div class="profile-content">
		<div class="profile-image">
			<img src="/static/images/harrington_joseph.png" alt="HJOSEPH Profile Picture"/> 
		</div>
		
		<div class="profile-info">
			<img src="/static/images/profile-title.png" alt="HJOSEPH Profile Title"/>
			<ul>
				<li><span class="subtitle">Name:</span> Harrington Joseph</li>
				<li><span class="subtitle">Nicknames:</span> Harry, Harox, Harph & Tom.</li>
				<li><span class="subtitle">Profession:</span> System Engineer, MSc of Artificial Intelligence.</li>
				<li><span class="subtitle">Hometown:</span> Caracas, Venezuela.</li>
				<li><span class="subtitle">Current location:</span> Caracas, Venezuela.</li>
				<li><span class="subtitle">Hobbies:</span> Soccer, Freeride, Downhill and Running.</li>
				<li><span class="subtitle">Quote:</span> "... The ball is round!"</li>
			</ul>
			
		</div>
	</div>
</div>