<div class="container header">
	<div class="span-8">
		<a href="/"><img src="/static/images/hjoseph-logo.png" alt="HJOSEPH Logo"/></a>
	</div>
	<div class="span-16 last navbar">
		<ul class="menu">
			<li><a href=""><img src="/static/images/about-link.png"/></a></li>
			<li><a href=""><img src="/static/images/portafolio-link.png"/></a></li>
			<li><a href=""><img src="/static/images/mytoolbox-link.png"/></a></li>
			<li><a href=""><img src="/static/images/networking-link.png"/></a></li>
			<li><a href=""><img src="/static/images/getintouch-link.png"/></a></li>
		</ul>
	</div>
</div>