<!DOCTYPE html>
<html>
	<head>
		<title>Harrington Joseph - Software & Web Development</title>
		
		<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen">
		
		
		<script type="text/javascript" src="/static/javascript/jquery.js"></script>
		<script type="text/javascript" src="/static/javascript/lib.js"></script>
	</head>
	<body>
		{% include "_header.html" %}
		{% include "_about.html" %}
		{% include "_mytoolbox.html" %}
		{% include "_portafolio.html" %}
	</body>
</html>