<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="I'm an enthusiastic software developer with a strong interest in programming languages, artificial intelligence and Web development." />
		<meta name="keywords" content="software,engineering,web,development,developer,application,freelance" />
		<meta name="author" content="Harrington Joseph" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link rel="shortcut icon" href="/static/images/favicon.ico"></link>
		<title>Harrington Joseph - Software & Web Development</title>
		
		<script type="text/javascript" src="/static/javascript/jquery.js"></script>
		<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="/static/javascript/lib.js"></script>
		
		<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<link rel="stylesheet" href="/static/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen">
		{% block additional_scripts %} {% endblock %}
	</head>
	<body>
		{% include "_header.html" %}
		{% include "_about.html" %}
		{% include "_mytoolbox.html" %}
		{% include "_portafolio.html" %}
		{% include "_networking.html" %}		
		{% include "_footer.html" %}
	</body>
</html>