<div class="span-6 profile">
	<div class="profile-content">
		<div class="profile-image">
			
		</div>
		
		<div class="profile-info">
			<img src="/static/images/profile-title.png" />
			<ul>
				<li><span class="subtitle">Name:</span> Harrington Joseph</li>
				<li><span class="subtitle">Nicknames:</span> Harry, Harox & Harph</li>
				<li><span class="subtitle">Profession:</span> System Engineer</li>
				<li><span class="subtitle">Hometown:</span> Caracas, Venezuela</li>
				<li><span class="subtitle">Hobbies:</span> Soccer, Freeride, Downhill and Running</li>
				<li><span class="subtitle">Quote:</span> "... The ball is round!"</li>
			</ul>
			
		</div>
	</div>
</div>