<div id="about-section" class="container section">
	{% include "_profile.html" %}
	<div class="span-18 last">
		<div class="about-content">
			<img src="/static/images/welcome-title.png" alt="HJOSEPH Welcome Title" class="title-content"/>
			<p>
				I'm an enthusiastic software developer with a strong interest in programming languages, artificial intelligence and Web development.	
			</p>
		
			<p>
				Since the beginning of my career, I realized that I'm not the type of guy who likes working in an office just doing paper work. Now, with some work-experience, I'm convinced that I'm interested in advanced research projects in which many challenges are presented, and could be solved using edge technologies. Due to this, I try to keep my knowledge up to date and to improve my skills, looking for new algorithms, programming techniques, languages and libraries. I really enjoy learning new technologies.
			</p>
		
			<p>
				I love to hear about new projects. If you think you have a good one, feel free to contact me. <!-- or ask me questions on Quora--> 
			</p>

			<img src="/static/images/personalstatement-title.png" alt="HJOSEPH Personal Statement Title" class="title-content"/>
			<p>
				A little bit more about me. I have about 7 years developing applications, using mostly Python, Java and PHP. 
			</p>
			
			<p>		
				Well... Where did I start? In 2002, I began studying <em>System Engineering</em> at the <a href="http://www.unimet.edu.ve" target="_blank">Universidad Metropolitana</a> in Caracas, Venezuela. From that moment I began to feel a great passion for computer programming and algorithms, which has led me to participate in local and international <em>Programming Contests</em>.  Throughout my career, I got first place in a <em>Software Development Contest</em> and I came first in the <em>Universidad Metropolitana ACM Programming Contest</em> twice. I finished my studies in 2007 and I got my degree in 2008.
			</p>	
		
			<p>
				In 2003, I started to work in several freelance projects and in 2006 I began my formal work doing internships at <a href="http://www.movistar.com.ve" target="_blank">Teléfonica Movistar</a>. Later, I worked for different companies, such as <a href="http://www.ibm.com.ve" target="_blank">IBM</a>, <a href="http://www.teravisiontech.com" target="_blank">Teravision Technologies</a> and <a href="http://kentriki.com" target="_blank">Kentriki Corporation</a> (btw: the best place I've ever worked). My main responsibilities have included design and implementation of complex systems and also managing and leading other developers as well.
			</p>
	
	
			<p>
				Later in 2010, I began a Master degree in Artificial Inteligence at the <a href="http://www.usal.es" target="_blank">Universidad de Salamanca</a> in Salamanca in Spain. During my Master, I broadened my knowledge in areas such as data mining, information retrieval, neuro-fuzzy computing, speech processing, Web mining-engineering and robotic (One of my biggest passions). Recently, I finished the Master and got my degree in artificial intelligence.
			</p>
		</div>			
	</div>
</div>
