<div id="find-me" class="span-8">
	<div class="span-8 last subsection">
		<img src="/static/images/find-me.png" alt="HJoseph Find Me On The Web Title"/>
	</div>
	<div class="span-8 last">
		<a href="http://linkedin.com/in/hjosephv" target="_blank">
			<div class="footer-icon">
				<img src="/static/images/linked-in-icon.png" alt="HJoseph LinkedIn icon"/>
			</div>
			<div class="span-5 last">
				<h2>LinkedIn</h2>
			</div>
		</a>
	</div>
	<div class="span-7 last footer-separator"></div>
	
	<div class="span-8 last">
		<a href="http://twitter.com/harph" target="_blank">
			<div class="footer-icon">
				<img src="/static/images/twitter-icon.png" alt="HJoseph Twitter icon"/>
			</div>
			<div class="span-5 last">
				<h2>Twitter: @harph</h2>
			</div>
		</a>
	</div>
	<div class="span-7 last footer-separator"></div>

	<div class="span-8 last">
		<a href="http://blog.hjoseph.com" target="_blank">
			<div class="footer-icon">
				<img src="/static/images/tumblr-blog-icon.png" alt="HJoseph Tumblr Blog icon"/>
			</div>
			<div class="span-5 last">
				<h2>Tumblr Blog: Eye Spot</h2>
			</div>
		</a>
	</div>
	<div class="span-7 last footer-separator"></div>

	<div class="span-8 last">
		<a href="http://github.com/harph" target="_blank">
			<div class="footer-icon">
				<img src="/static/images/github-icon.png" alt="HJoseph github icon"/>
			</div>
			<div class="span-5 last">
				<h2>github</h2>
			</div>
		</a>
	</div>
</div>