{% extends "portafolio_projects/portafolio_template.html" %}

{% block title %}
	<h1>Asociación de Damas Líbano Venezolanas</h1>
{% endblock %}


{% block details %}
	<ul>
		<li><span class="subtitle">Website:</span> <a href="http://www.adalivenezuela.com" target="_blank">www.adalivenezuela.com</a></li>
		<li>
			<span class="subtitle">Description:</span> 
			<p>
				A fancy website developed for <a href="http://www.adalivenezuela.com" target="_blank">- ADALIVE - Asociación de Damas Líbano Venezolanas</a> with the purpose of having a web presence and share information about their activities. It's a Django-based website built using Kumballa CMS (an internal Stavilium CMS). This website fulfills the client's needs, as it allows to manage information regarding calendar events, news, videos and galleries.
			</p>
		</li>
		<li><span class="subtitle">Role:</span> Lead Developer</li>
		<li><span class="subtitle">Technologies:</span> Python, Django, PostgreSQL, jQuery, Blueprint & Kumballa CMS.</li>
		<li><span class="subtitle">Developed with:</span> Stavilium</li>
	</ul>
{% endblock %}