{% extends "portafolio_projects/portafolio_template.html" %}

{% block title %}
	<h1>American Consult</h1>
{% endblock %}


{% block details %}
	<ul>
		<li><span class="subtitle">Website:</span> <a href="http://www.american-consult.com" target="_blank">www.american-consult.com</a></li>
		<li>
			<span class="subtitle">Description:</span> 
			<p>
				A corporative website developer for <a href="http://american-consult.com" target"_blank">American Consult</a> to provide a fresh image of the company on the web. It's a dynamic PHP website that uses AJAX to obtain the content of each section.
			</p>
		</li>
		<li><span class="subtitle">Role:</span> Lead Developer & Web Designer</li>
		<li><span class="subtitle">Technologies:</span> AJAX, PHP & Prototype.</li>
		<li><span class="subtitle">Developed with:</span> Stavilium</li>
	</ul>
{% endblock %}