{% extends "portafolio_projects/portafolio_template.html" %}

{% block title %}
	<h1>Kentriki.com</h1>
{% endblock %}


{% block details %}
	<ul>
		<li><span class="subtitle">Website:</span> <a href="http://www.kentriki.com" target="_blank">www.kentriki.com</a></li>
		<li>
			<span class="subtitle">Description:</span> 
			<p>
				<a href="http://kentriki.com" target"_blank">Kentriki</a> is an e-commerce social network that allows users to sell, buy and share things with friends and much more. In this project I confronted the challenge of developing dynamic and interactive features for the whole website. Also, I mediated between back-end and front-end development teams, giving special attention to design details taking into consideration the user’s experience.
			</p>
		</li>
		<li><span class="subtitle">Role:</span> UX Leader & Software Engineer</li>
		<li><span class="subtitle">Technologies:</span> Python, Django, PostgreSQL, Solr, jQuery, Blueprint & more.</li>
		<li><span class="subtitle">Developed with:</span> <a href="http://kentriki.com" target"_blank">Kentriki Corporation<a/></li>
	</ul>
{% endblock %}