{% extends "portafolio_projects/portafolio_template.html" %}

{% block title %}
	<h1>UE Colegio Pestalozzi</h1>
{% endblock %}


{% block details %}
	<ul>
		<li><span class="subtitle">Website:</span> <a href="http://www.uepestalozzi.com" target="_blank">www.uepestalozzi.com</a></li>
		<li>
			<span class="subtitle">Description:</span> 
			<p>
				A smart and useful website developed for <a href="http://www.uepestalozzi.com" target="_blank">Unidad Educativa Colegio Pestalozzi</a>. It's a Django-based website built using Kumballa CMS (an internal Stavilium CMS). It allows the client to publish and handle news, galleries and class schedules. 
			</p>
		</li>
		<li><span class="subtitle">Role: </span> Lead Developer</li>
		<li><span class="subtitle">Technologies: </span> Python, Django, PostgreSQL, jQuery, Blueprint & Kumballa CMS.</li>
		<li><span class="subtitle">Developed with: </span> Stavilium</li>
	</ul>
{% endblock %}