*{
	padding: 0px;
	margin: 0px;
}

body{
	background: #F8F8F8;
	color: #222222;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, address, strong, em, b, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

p{
	text-align: justify;
}

a{
	color: #2FAAFF;
	text-decoration: none;
}


/* BEGIN OF COMMON STYLES */

div.section{
	border-top: 1px solid #EFEFEF;
	padding-top: 20px;
}

img.title-content{
	margin-bottom: 10px;
}

div.warning, div.warning-message{
	float: left;
	text-align: center;
	width: 100%;
}

div.warning-message{
	color: #AEAEAE;
	font-size: 12px;	
}

/* END OF COMMON STYLES */

/* BEGIN OF HEADER */
	div.header{
		background: #F8F8F8;
		border-top: 6px solid #A3CF35;
		margin: 0px;
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	
	div.header-content{
		padding: 20px 0px;
	}
	
	div.navbar{
		margin-top: 25px;
	}
	
	ul.menu{
		text-align: right;
	}
	
	ul.menu li{
		display: inline;
		margin-left: 12px;
	}
	
	div.header-complement{
		height: 90px;
	}
/* END OF HEADER */

/* BEGIN OF ABOUT */
	div#about-section{
		margin-bottom: 20px;
	}

	div.about-content{
		float: left;
		margin-left: 10px;
	}
	/* BEGIN OF PROFILE */
		div.profile{
			background: #EFEFEF;
		}

		div.profile-content{
			float: left;
			margin: 20px;
			width: 190px;
		}

		div.profile-image{
			background: #888888;
			height: 250px;
			overflow-y: hidden;
			width: 100%;
		}

		div.profile-info{
			float: left;
			margin-top: 20px;
		}

		div.profile-info img{
			margin-bottom: 10px;
		}

		div.profile-info ul li{
			margin-bottom: 5px;
		}

		div.profile-info .subtitle{
			font-weight: bold;
		}
	/* END OF PROFILE */
/* END OF ABOUT */

/* BEGIN OF MY TOOL BOX */
	ul.toolbox{
		text-align: center;
		margin: 20px auto;
	}
	
	ul.toolbox li{
		display: inline;
		margin: 10px;
	}
/* END OF MY TOOL BOX */


/* BEGIN OF PORTAFOLIO */
	div.portafolio-content{
		margin: 10px 0px 20px 0px;
	}

	div.work-preview{
		background: white;
		float: left;
		margin: 0px 20px 20px 20px;
		-moz-box-shadow: 5px 5px 5px #888; 
		-webkit-box-shadow: 10px 10px 5px #888; 
		padding: 5px 5px 5px 15px;
		width: 410px;
	}
	
	div.work-preview-box{
		background: #222222;
		padding: 10px 0px 35px 0px;
	}
	
	div.work-preview-box h1{
		color: #CCCCCC;
	}
	
	div.work-preview-title-mark{
		background: #A3CF35;
		float: left;
		height: 10px;
		margin-top: 13px;
	}
	
	div.work-preview-content{
		color: #CCCCCC;
	}

	div#portafolio-ps{
		min-height: 440px;
	}
	
	div#portafolio-ps img{
		display: none;
		position: absolute;
	}
	
	div.work-preview-details{
		float: left;
		margin-left: 20px;
	}
	
	div.work-preview-details .subtitle{
		font-weight: bold;
	}
	
	
	div.work-preview-details ul li{
		margin-bottom: 10px;
	}
	
	div.work-preview-details ul li p{
		margin: 0px;
	}
	
/* END OF MY PORTAFOLIO */

/* BEGIN OF NETWORKING */
	ul.publications{
		margin: 10px 0px 0px 0px;
	}

	ul.publications li span.title{
		color: #222222;
		font-size: 16px;
		font-style: italic;
	}

	ul.publications li a{
		color: #222222;
	}

	ul.publications li span.date{
		color: #2FAAFF;
		font-size: 12px;
		font-style: italic;
	}
/* END OF MY NETWORKING */

/* BEGIN OF FOOTER */
	div#getintouch-section{
		background: #222222 url(/static/images/footer-top.jpg) repeat-x;
		float: left;
		padding-top: 20px;
		min-height:300px;
		width: 100%;
	}
	
	div#getintouch-section div.subsection{
		margin-bottom: 20px;
	}
	
	div#getintouch-section *{
		color: #CCCCCC;
	}
	
	div#getintouch-section h2{
		font-size: 16px;
		margin: 5px 0px;
		text-align: justify;
	}
	
	div.footer-icon{
		float: left;
		margin-right: 10px;
		width: 40px;
	}
	
	div.footer-separator{
		background: url(/static/images/footer-separator.png) repeat-x;
		height: 6px;
		margin: 10px auto;
	}
	
	img#hello-email{
		margin: 30px 8px;
	}
	
	div#copy-right{
		margin-bottom: 20px;
		padding-top: 20px;
		text-align: center;
	}
	
	div#footer-bottom{
		background: url(/static/images/hive.png) repeat-x;
		float: left; 
		height: 200px;
		width: 100%;
	}

/* END OF FOOTER*/